footer {
  background: rgb(70, 70, 70);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.icon {
  background: none;
  border: none;
}
