footer {
  background: #464646;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.icon {
  background: none;
  border: none;
}
