<header>
  <mat-toolbar color="primary">
    <img
      class="icon"
      src="assets/icons/ico2.ico"
      alt="CITYGames ico2.ico"
      routerLink="/home"
    />
    <span routerLink="/home"> CITYGames </span>

    <mat-form-field color="accent" class="search-form-field">
      <mat-label>Looking for a game?</mat-label>
      <input matInput type="text" [(ngModel)]="searchValue" />
      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-icon-button (click)="onToggleCart()">
      <mat-icon matBadge="{{cartBadget}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>

    <button mat-button color="accent" routerLink="/login" *ngIf="!isSession">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>

    <button mat-button routerLink="/register" *ngIf="!isSession">
      <mat-icon>account_circle</mat-icon>
      <span>Sing up</span>
    </button>

    <button mat-button color="accent" *ngIf="isSession">
      <mat-icon>description</mat-icon>
      <span>Purchases</span>
    </button>

    <button mat-button color="warn" (click)="logOut()" *ngIf="isSession">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-toolbar>
</header>
<div class="shoping-cart" [ngClass]="{ 'show-cart': viewCart }">
  <app-shoping-cart></app-shoping-cart>
</div>
<router-outlet></router-outlet>
