.game-card {
    margin: 1rem;
    width: 250px;
  }

  .game-edition-avatar {
    border-radius: 50%;
  }

  mat-card-title {
    color: #fff;
  }

  mat-card-subtitle {
    color: #f44336;
  }


  .game-price {
    font-weight: bold;
    font-size: larger;
    color: #ddd;
    margin-right: 2.5rem;
  }