<div class="filter-games" fxLayoutAlign="center center">
  <button mat-icon-button color="accent" (click)="searchSonyGames()">
    <img src="assets/icons/Play Station 5.ico" alt="">
  </button>
  <button mat-icon-button color="accent" (click)="searchMicrosoftGames()">
    <img src="assets/icons/Xbox Series.ico" alt="">
  </button>
  <button mat-icon-button color="accent" (click)="searchPcGames()">
    <img src="assets/icons/Pc.ico" alt="">
  </button>
  <button mat-icon-button color="warn" (click)="ngOnInit()" >
    <mat-icon>remove_circle</mat-icon>
  </button>
</div>
<div
  class="game-list-container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <ng-container *ngIf="gamesNumber > 0; else noGamesFound">
    <app-game-card
      *ngFor="
        let gamei of gamesList
          | paginate : { itemsPerPage: pageSize, currentPage: pageIndex }
      "
      [game]="gamei"
      fxFlex="clac(33.33% - 16px)"
    ></app-game-card>
    <div class="pagination">
        <pagination-controls (pageChange)="pageIndex = $event"
        ></pagination-controls>
    </div>
  </ng-container>
  <ng-template #noGamesFound>
    <h4>Nothing to show</h4>
  </ng-template>
</div>
