
h4 {
    margin: 1rem;
    color: white;
    font-weight: bold;
}

.pagination ::ng-deep .ngx-pagination .current {
    background-color: #7b1fa2;
    color: #69f0ae;
    border-radius: 50%;
}

.pagination ::ng-deep .ngx-pagination a:hover:not(.current) {
    background-color: #69f0ae;
    color: #7b1fa2;
    border-radius: 30%;
}
