.order-card {
    margin: 1rem;
    padding: 1rem;
}

mat-card-title {
    color: #eee;
}

mat-card-content {
    justify-content: space-between;
}

article {
    margin: 0.5rem;
    border-bottom: 1px solid #303030;
}

.game-body {
    color: #fefefe;
}

.game-body p {
    color: #69f0ae;
}

.order-resume {
    color: #f44336;
    font-weight: bold;
    font-size: 1.3rem;
}